{% extends 'layouts/_layout.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path_for('disaster_show', {'disasterId':disaster.id}) }}">{{ disaster.name }}</a></li>
    <li><a href="{{ path_for('correspond_index', {'disasterId':disaster.id}) }}">災害対応情報管理</a></li>
    <li><a href="#">詳細</a></li>
{% endblock %}

{% block content %}
    <div class="notification is-primary">
        <h1 class="title">Show a Disaster correspond</h1>
    </div>
{% endblock %}