{% extends 'layouts/_layout.twig' %}

{% block breadcrumb %}
    <li><a href="#">災害事例選択</a></li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container-fluid">
            <h1 class="title">災害事例選択</h1>
            <hr>

            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" placeholder="キーワード">
                </div>
                <div class="control">
                    <a class="button is-info">
                        検索
                    </a>
                </div>
            </div>

            <table class="table is-fullwidth is-striped">
                <thead>
                <tr>
                    <th>災害事例</th>
                    <th>日時</th>
                    <th>種類</th>
                </tr>
                </thead>
                <tbody>
                {% for d in disasters %}
                    <tr>
                        <td><a href="{{ path_for('correspond_index', {'disasterId':d.id}) }}">{{ d.name }}</a></td>
                        <td>{{ d.date }}</td>
                        <td>{{ d.class }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}