# DirectoryIndex public

# 送られてきたOriginを許可オリジンとしてオウム返しする
#RewriteCond %{HTTP:Origin} (.+)
#RewriteRule . - [E=CORS_ORIGIN:%1]
#Header set Access-Control-Allow-Origin %{CORS_ORIGIN}e env=CORS_ORIGIN

# CORSアクセスを許可するOriginを限定
#RewriteCond %{HTTP:Origin} (https?://([a-zA-Z0-9\-\.]+\.)?(example\.com|example\.jp)(:[0-9]+)?)$
#RewriteRule . - [E=CORS_ORIGIN:%1]
#Header set Access-Control-Allow-Origin %{CORS_ORIGIN}e env=CORS_ORIGIN

# Header set Access-Control-Allow-Origin "*"
# クレデンシャル
# Header set Access-Control-Allow-Credentials true
