{% extends 'layouts/_layout.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path_for('content_index') }}">災害データ設定管理</a></li>
    <li><a href="#">新規登録</a></li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container-fluid">
            <h1 class="title">新規登録</h1>

            <hr>

            <form action="{{ path_for('content_store') }}" method="post">
                <div class="card">
                    <div class="card-content">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="content_name">ラベル</label>
                            </div>
                            <div class="field-body">
                                <input type="text" name="content[name]" id="content_name" class="input" required>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="content_type">属性</label>
                            </div>
                            <div class="field-body">
                                <div class="select">
                                    <select id="content_type" name="content[type]" required>
                                        <option disabled selected></option>
                                        <option value="class">災害種類</option>
                                        <option value="scale">規模</option>
                                        <option value="section">区分</option>
                                        <option value="content">対応内容</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-primary">送信</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}