{% extends 'staff/layouts/_layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
{% endblock %}

{% block content %}
    <main id="main">
        <div class="container-fluid">
            <div class="row">

                <div class="col-3" id="sns-field">
                    <div class="card">
                        <div class="card-header">Twitter with 災害</div>
                        <div class="card-block">

                            <h4 class="card-title">Tweets</h4>
                            <br>
                            <ul id="eventList">

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-9">
                    <div class="card-header">災害名 : 〇〇災害</div>
                    <div class="card">
                        <div class="card-block">
                            <div id="map-area">
                                <div id="map" style="height: 450px;"></div>
                            </div>
                            <table class="table">
                                <thead class="table-inverse">
                                <tr>
                                    <th colspan="2" class="text-center">概要</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>名前</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>規模</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>種類</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>発災日時</th>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th>発災時期</th>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="card">
                                <ul class="nav nav-tabs justify-content-center" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">
                                            <i class="now-ui-icons objects_umbrella-13"></i> 全体
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#lifeline" role="tab">
                                            <i class="now-ui-icons shopping_cart-simple"></i> ライフライン
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#damage" role="tab">
                                            <i class="now-ui-icons shopping_shop"></i> 被害状況
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#road-closed" role="tab">
                                            <i class="now-ui-icons ui-2_settings-90"></i> 通行止め
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#goods" role="tab">
                                            <i class="now-ui-icons ui-2_settings-90"></i> 物資情報
                                        </a>
                                    </li>
                                </ul>
                                <div class="card-block">
                                    <div class="tab-content text-center">
                                        <div class="tab-pane active" id="overview" role="tabpanel">
                                            Overview
                                        </div>
                                        <div class="tab-pane" id="lifeline" role="tabpanel">
                                            Lifeline
                                        </div>
                                        <div class="tab-pane" id="damage" role="tabpanel">
                                            Damage
                                        </div>
                                        <div class="tab-pane" id="road-closed" role="tabpanel">
                                            Road Closed
                                        </div>
                                        <div class="tab-pane" id="goods" role="tabpanel">
                                            Goods
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script>
        var IBARAKI_UNIV = {
            HITACHI: {lat: 36.572377, lng: 140.641972, _polygon: [
                [36.57176848214963, 140.64361989498138],
                [36.57369854237086, 140.64426362514496],
                [36.57471525112472, 140.63977897167203],
                [36.572664587536934, 140.6390279531479],
            ]},
            MITO: {},
            AMI: {}
        };
        window.onload = function () {
            /* === Server Sent Event === */
            var setting = {
                url: 'http://157.80.84.41/streamingAPI/api/ServerSentEvent.php',
                option: {withCredentials: true}
            };
            var es = new EventSource(setting.url, setting.option);

            es.addEventListener('message', function (event) {
                var newElement = document.createElement("li");
                var eventList = document.getElementById('eventList');

                newElement.innerHTML = "message: " + event.data;
                eventList.appendChild(newElement);
                if(eventList.children.length > 5){
                    eventList.removeChild(eventList.firstElementChild)
                }
            });
            /* !=== Server Sent Event ===! */

            // Create Map and focus geographical coordinates and a zoom level.
            var map = L.map('map').setView([IBARAKI_UNIV.HITACHI.lat,IBARAKI_UNIV.HITACHI.lng], 16);

            // set view
            var tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
                attribution: '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                maxZoom: 19
            }).addTo(map);

            // add map function
            map.on('click', function(e){
                console.log(e.latlng);
            });

            // add polygon
            var polygon = L.polygon(IBARAKI_UNIV.HITACHI._polygon)
                .bindPopup("Hi! I am a polygon")
                .addTo(map);

            // add marker
            var marker = L.marker([IBARAKI_UNIV.HITACHI.lat,IBARAKI_UNIV.HITACHI.lng])
                .bindPopup('<strong>Yeah!</strong> I am a popup')
                .addTo(map);

        };
    </script>
{% endblock %}

{% block js %}
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
{% endblock %}
