{% extends 'layouts/_layout.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path_for('section_index') }}">災害対応区分管理</a></li>
    <li><a href="#">新規登録</a></li>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container-fluid">
            <h1 class="title">新規登録</h1>

            <hr>

            <form action="{{ path_for('section_store') }}" method="post">
                <div class="card">
                    <div class="card-content">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label" for="section_name">区分ラベル</label>
                            </div>
                            <div class="field-body">
                                <input type="text" name="section[name]" id="section_name" class="input" required>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-primary">送信</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}