{% extends 'layouts/_layout.twig' %}

{% block content %}
    <div id="main-content" class="notification">
        <h1 class="title">Hello World!!!</h1>
        <div id="disaster-map"></div>
        <p>Top Field here.</p>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ public_path }}/js/app.js"></script>
    <script>
        var ibarakiUniv = {
            HITACHI: { lat: 36.572377, lng: 140.641972 },
        };

        var mymap = L.map('disaster-map').setView([ibarakiUniv.HITACHI.lat, ibarakiUniv.HITACHI.lng], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 17,
            minZoom: 11
        }).addTo(mymap);


        mymap.on('click', function (e){
            L.popup()
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(mymap);
            console.log(e.latlng.toString());
        });
    </script>
{% endblock %}