{% extends 'layouts/_layout.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path_for('list_index') }}">ToDoリスト管理</a></li>
    <li><a href="#">新規登録</a></li>
{% endblock %}


{% block content %}
    <section class="section">
        <div class="container-fluid">
            <h1>新規登録</h1>

            <hr>

            <form action="{{ path_for('list_store') }}" method="post">
                <div class="field is-horizontal">
                    <div class="field-body">
                        <input type="text" name="list[0][message]" id="list_name_0" class="input" placeholder="内容" required>
                    </div>
                </div>

                <br>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <a class="button is-info" id="list-add-btn"><span class="icon"><i class="fa fa-plus"></i></span><span>フォーム追加</span></a>
                        <a class="button is-danger" id="list-remove-btn"><span class="icon"><i class="fa fa-trash-o"></i></span><span>フォーム削除</span></a>
                    </div>
                    <div class="control">
                        <button class="button is-primary">送信</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}