{% extends 'layouts/_layout.twig' %}

{% block breadcrumb %}
    <li><a href="{{ path_for('plan_index') }}">防災計画管理</a></li>
    <li><a href="#">編集</a></li>
{% endblock %}

{% block content %}
    <div class="notification is-primary">
        <h1 class="title">Edit a Prevention plan</h1>
    </div>
{% endblock %}