<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>災害管理システム {% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
{% block header %} {% endblock %}
<main>
    {% block main %}{% endblock %}
</main>
<!-- TODO: scriptやcssはSlim のドキュメントルートは public/index.php のためそこからの相対パスを指定する． -->
<script src="{{ public_path }}/js/bundle.js"></script>
{% block footer %} {% endblock %}
{% block js %}{% endblock %}
</body>
</html>