{% extends 'layouts/_base.twig' %}

{% block main %}
    <section id="login-content">
        <div class="columns is-mobile is-centered">
            <div class="column is-half-desktop is-three-quarters-mobile is-narrow">
                <div class="message is-info">
                    <p class="message-header">ログイン</p>

                    <div class="message-body">
                        <p class="has-text-black">ユーザIDとパスワードを入力してください．</p>
                        <br>

                        <form action="{{ path_for('login') }}" method="POST">
                            {% include '/layouts/_notice.twig' %}

                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label has-text-black" for="user_id">ユーザーID</label>
                                </div>
                                <div class="field-body">
                                    <input type="text" name="user[user_id]" id="user_id" class="input" value="{{ user_id }}" placeholder="User ID" pattern="^[0-9A-Za-z_-]+$" required />
                                </div>
                            </div>
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label has-text-black" for="password">パスワード</label>
                                </div>
                                <div class="field-body">
                                    <input type="password" class="input" id="password" name="user[password]" placeholder="Password" required />
                                </div>
                            </div>
                            <hr>

                            <div class="columns is-mobile is-centered">
                                <div class="column  is-narrow">
                                    <button class="button is-info is-outlined is-medium">ログイン</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
